@font-face{
    font-family: bahnschriftcopy;
    src: url(../fonts/BAHNSCHRIFT.TTF);
  }

@font-face{
    font-family: centurybold;
    src: url(../fonts/Century\ Condensed\ Bold.ttf);
  }
   
  body, html{
      background-color:#000000;
      font-family:Bahnschrift, bahnschriftcopy, Arial, Serif;
      margin:0px;
      width:100%;
      height:100%;
      z-index:-2;
  }
  
  #header{
      position:fixed;
      z-index:999;
      width:100%;
      height:10%;
      background-color:#ff7f27;
  }
  
  #headerbuttons{
    position:fixed;
    height:10%;
    width:100%;
    float:right;
    /*margin-left:25%;*/
    white-space:nowrap;
    overflow-x:auto;
  }
  
  #logo{
      float:left;
      width:2.5em;
      height:2.5em;
      margin-left:1em;
      margin-right:0.5em;
      margin-top:0.8em;
  }
  
  #logotext{
      float:left;
      font-size:1.75em;
      margin-right:1em;
      margin-top:0.75em;
      height:100%;
      line-height:100%;
  }
  
  .linkbuttons{
      height:100%;
      display:inline-block;
      float:right;
      overflow:hidden;
  }
  
  .linknames{
      float:right;
      font-size:1.35em;
      margin-right:1em;
      margin-top:1.15em;
      color:#000000 !important;
      text-decoration:none;
      font-weight:bold;
      height:100%;
      line-height:100%;
  }
  
  .linkicons{
      float:right;
      width:2.5em;
      height:2.5em;
      margin-left:1em;
      margin-right:1em;
      margin-top:1em;
  }
  
  #welcomebanner{
      position:absolute;
      width:100%;
      height:65%;
  }
  
  #welcometext{
    display:none;
  }
  
  #mainbody{
      width:70%;
      height:100%;
      background-color:#000000;
      margin-left:auto;
      margin-right:auto;
  }
  
  /*FEATURED*/
  #headfill{
      height:70%; 
      background-color:#000000;
  }
  
  #featured{
      float:left;
      z-index:-1;
      width:100%;
      /*height:75%;*/
  }
  
  #featheader{
      z-index:2;
      float:left;
      height:57px;
      width:28%;
      background-color:#000000;
      color:#ff7f27;
      font-size:4em;
      font-weight:bold;
  }
  
  #votinginfo{
    position:absolute;
    width:100%;
    height:20%;
    white-space:nowrap;
  }
  
  #undbar{
      z-index:0;
      position:relative;
      float:left;
      margin-bottom:0px;
      margin-right:0px;
      width:72%;
      height:45px;
      background-color:#000000;
  }
  
  #marginbl{
      width:100%; 
      float:left; 
      height:2.5%; 
      background-color:#000000;
  }
  
  
  #news{
      width:100%; 
      height:100%; 
      background-color:#000000;
  }
  
  #newspic{
      width:100%;
      /*height:100%;*/
      position:relative;
  }
  
  #newstext{
      z-index:10;
      float:left;
      margin-left:15px;
      margin-top:5px;
      padding-top:5px;
      padding-left:12px;
      height:95%;
      width:63%;
      overflow:auto;
      background-color:#000000;
      box-sizing:border-box;
  }
  
  #newstitle{margin:0px; font-size:45px; font-weight:bold; color:#ff7f27;}
  #newsbody{font-size:20px; color:#ff7f27;}
  
  #undor{
      z-index:9;
      width:100%; 
      float:left; 
      height:12px; 
      background-color:#ff7f27;
  }
  
  #videos, #stories, #comics, #games, #codingprojects, #music{
      float:left;
      width:49%;
      /*height:30%;*/
  }
  
  #entpic{
      width:100%;
      height:100%;
      margin-bottom:0px;
  }
  
  #entlabel{
    position:relative;
    float:left;
    width:95%;
    height:fit-content;
    margin-top:-120px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    text-align:center;
    color:#ff7f27;
    font-size:50px;
    font-weight:bold;
    border:7px solid #ff7f27;
    background-color:#000000;
  }
  
  #entlabel2{
      position:relative;
      float:left;
      width:fit-content;
      height:fit-content;
      margin-top:-84px;
      padding-left:10px;
      padding-right:10px;
      padding-top:5px;
      text-align:center;
      color:#ff7f27;
      font-size:50px;
      font-weight:bold;
      border:7px solid #ff7f27;
      background-color:#000000;
  }
  
  #filler{
      background-color:#000000;
      float:left;
      width:2%;
      height:30%;
  }
  
  #fillerside{
      background-color:#000000;
      float:left;
      width:1.333333%;
      height:400px;
  }
  
  #marginblside{
      width:0px;
      height:0px;
  }
  
  /*NEWS BULLETIN*/
  #newsb{
      float:left;
      z-index:0;
      background-color:#ff7f27;
      width:100%;
      height:57px;
  }
  
  #newbheader{
      z-index:2;
      float:left;
      height:57px;
      width:43%;
      background-color:#000000;
      color:#ff7f27;
      font-size:4em;
      font-weight:bold;
  }
  
  #undbar2{
      z-index:3;
      float:left;
      margin-bottom:0px;
      margin-right:0px;
      width:57%;
      height:45px;
      background-color:#000000;
  }
  
  #archives{
      float:left;
      width:100%;
      height:20%;
  }
  
  
  #filler2{
      background-color:#000000;
      float:left;
      width:4%;
      height:400px;
  }
  
  #videos:hover, #stories:hover, #comics:hover, #games:hover, #codingprojects:hover, #music:hover, #otherworks:hover, .risingphoenixact{
      animation-name: expand;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes expand {
      0% {transform: scale(1,1);}
    100% {transform: scale(1.075,1.075);}
  }
  
  #featured:hover{
      animation-name: expandfeature;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes expandfeature {
      0% {transform: scale(1,1);}
    100% {transform: scale(1.030,1.030);}
  }
  
  #videos:not(:hover), #stories:not(:hover), #comics:not(:hover), #games:not(:hover), #codingprojects:not(:hover), #music:not(:hover), #otherworks:not(:hover), .risingphoenixact:not(:hover){
      animation-name: contract;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes contract {
      0% {transform: scale(1.075, 1.075);}
    100% {transform: scale(1, 1);}
  }
  
  #featured:not(:hover){
      animation-name: contractfeature;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes contractfeature {
      0% {transform: scale(1.030, 1.030);}
    100% {transform: scale(1, 1);}
  }
  
  #homewarp{
      color:#3239a2 !important;
  }
  
  #homewarp:hover{
      color:yellow !important;
  }
  
  #contentblock{
      width:100%;
      height:55%;
      background-color:#000000;
  }
  
  #contentprev{
      float:left;
      width:30%;
      margin-top:70px;
  }
  
  #contentlink{
      text-align:center;
      text-decoration:underline;
      margin-top:40px;
      margin-left:auto;
      margin-right:auto;
      font-size:3em;
      font-style:italic;
  }
  
  #contentlink2{
      text-align:center;
      text-decoration:underline;
      text-decoration-color:#002db3;
      color:#002db3;
      margin-top:10px;
      margin-left:auto;
      margin-right:auto;
      font-size:1.2em;
      font-style:italic;
  }
  
  #coleur1{text-decoration-color:#0040ff; color:#0040ff;}
  #coleur2{text-decoration-color:#002db3; color:#002db3;}
  
  #contentdesc{
      z-index:10;
      float:left;
      margin-left:15px;
      margin-top:70px;
      padding-top:5px;
      padding-left:12px;
      height:100%;
      width:66%;
      overflow:auto;
      background-color:#000000;
      box-sizing:border-box;
  }
  
  #contenttitle{margin:0px; font-size:60px; font-weight:bold; color:#ff7f27;}
  #contentgenre, #contentsynop{color:#ff7f27;}
  #contentgenre{font-size:30px;}
  #contentsynop{font-size:20px;}
  #contentgenre{font-style:italic; font-weight:bold; margin-bottom:5px;}
  
  #endofpage{
      color:#805300;
      margin-top:15px;
      font-size:50px;
      text-align:center;
      font-weight:bold;
      font-style:italic;
  }
  
  #blackcurtain{
      z-index:999999999999999;
      position:fixed;
      width:100%;
      height:100%;
      background-color:#000000;
      animation-name: pullcurtain;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
  }
  
  @keyframes pullcurtain {
      0% {opacity:100%; z-index:999999999999999;}
    100% {opacity:0%; z-index:-9999;}
  }
  
  #votingend{
      position:absolute;
      margin-top:-5.1em;
      margin-left:10%;
      margin-right:10%;
      width:80%;
      color:white;
      font-size:3em;
      z-index:999999999;
      text-decoration:none;
      text-align:center;
      text-shadow:6px 6px 3px #000000;
  }
  
  #sotmtimer{
      position:relative;
      margin-top:-2em;
      margin-bottom:0.8em;
      margin-right:auto;
      color:white;
      font-size:6em !important;
      z-index:999999999;
      font-weight:bold;
      text-align:center;
      text-shadow:6px 6px 3px #000000;
      overflow-x:auto;
  }
  
  #featureoverlay{
      position:absolute;
      width:100%;
      height:54%;
      opacity:50%;
      z-index:998;
  }
  
  #featuredtitle{
      z-index:4;
      color:#ff7f27;
      font-size:0.85em;
      font-weight:bold;
      margin-top:10%;
      opacity:100% !important;
  }
  
  #featureddesc{
      z-index:4;
      color:#ff7f27;
      font-size:0.3em;
      padding-right:1em;
  }
  
  #gradientpic{
      position:absolute;
      float:left;
      width:100%;
      height:100%;
      z-index:2;
  }
  
  #featurepic{
      position:relative;
      float:left;
      width:100%;
      height:54%;
      z-index:0;
  }
  
  #featureblock{
      position:absolute;
      margin-left:40%;
      width:60%;
      height:100%;
      font-size:5em;
      z-index:3;
  }
  
  #featureoverlay:hover{
      animation-name: darkenfeature;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes darkenfeature {
      0% {opacity:50%;}
    100% {opacity:100%;}
  }
  
  #featureoverlay:not(:hover){
      animation-name: lightenfeature;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes lightenfeature {
      0% {opacity:100%;}
    100% {opacity:50%;}
  }
  
  #otherworks{
      position:relative;
      float:left;
      width:100%;
      height:auto;
      z-index:10;
      border:7px solid #ff7f27;
  }
  
  #otherworkspic{
      float:left;
      width:25%;
      height:70%;
      border-right:7px solid #ff7f27;
      border-bottom:4px solid #ff7f27;
  }
  
  #otherworkscont{
       float:left;
       position:relative;
       height:100%;
       width:70%;
  }
  
  #otherworkstitle{
      margin-top:10px;
      margin-left:15px;
      position:relative;
      color:#ff7f27;
      font-size:3em;
      font-weight:bold;
      height:auto;
  }
  
  #otherworkstext{
      margin-left:15px;
      margin-bottom:15px;
      position:relative;
      z-index:4;
      color:#ff7f27;
      font-size:1.5em;
      width:fit-content;
      height:fit-content;
  }
  
  #moretocome{
      opacity:70%;
      color:#ff7f27;
      text-align:center;
      font-size:3em;
      font-weight:bold;
      font-style:italic;
  }
  
  #sotmlogo{
    position:relative;
    width:45%;
    height:28%;
    margin-top:1.5%;
  }
  
  .sotmstory{
    position:relative;
    width:50%;
    height:35%;
    float:left;
  }
  
  #sotmexplain{
    position:relative;
    width:53%;
    color:#ff7f27;
    float:right;
    margin-top:6.5%;
    margin-right:1%;
    font-size:1.75em;
  }
  
  #sotmgradient{
    position:absolute;
    width:100%;
    height:100%;
    z-index:3;
  }
  
  #sotmheader{
    position:relative;
    z-index:4;
    margin-left:20%;
    margin-right:20%;
    width:60%;
    height:35%;
  }
  
  #sotmdesc{
    position:relative;
    z-index:4;
    font-weight:bold;
    margin-left:5%;
    margin-right:5%;
    font-size:1.5em;
    text-align:center;
  }
  
  #votingscreen{
    position:relative;
    width:100%;
    height:75%;
    float:left;
  }
  
  #votebutton{
    display:table-cell;
    position:absolute;
    background-color:#82b8ff;
    color:#000000;
    z-index:5;
    width:20%;
    height:21%;
    margin-top:16.5%;
    margin-left:40%;
    padding-top:8px;
    font-size:5em;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    box-shadow:8px 8px 4px #000000;
  }

  #risingphoenixbanner{
    margin-top:5%;
    height:10%;
    width:65%;
    overflow-x:hidden;
  }

  #risingphoenixdesc{
    position:relative;
    font-size:1.1em;
    font-family:centurybold;
    height:30%;
    width:35%;
    z-index:40;
    margin-top:-15%;
    margin-left:10%;
    margin-right:1.25%;
    color:#ff7f27;
    float:right;
  }

  .risingphoenixact{
    width:25%;
    height:45%;
    float:left;
    padding-left:2.5%;
    padding-right:2.5%;
    padding-bottom:2.5%;
    box-sizing:border-box;
  }

  #risingphoenixactsymbol{
    display:block;
    height:30%;
    width:27.5%;
    margin-left:auto;
    margin-right:auto;
    margin-top:4%;
    margin-bottom:4%;
  }

  #risingphoenixnew{
    position:absolute;
    width:20%;
    margin-top:-30%;
    margin-left:60%;
  }

  .risingphoenixacttitle{
    font-size:1.9em;
    font-weight:bold;
    font-family:centurybold;
    padding-bottom:2.5%;
    text-align:center;
    color:#ff7f27;
    line-height:1.15em;
  }

  .risingphoenixactdesc{
    font-size:1.1em;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    color:#ff7f27;
  }

  #unreleasedact{opacity:0.5 !important;}

  #pageselect{
    margin-top:4.5%;
    position:fixed;
    width:100%;
    border-bottom:3px solid #ff7f27;
  }

  .prevbutton, .pagebutton, .nextbutton{
    float:left;
    width:5%;
    font-size:1.75em;
    font-weight:bold;
    background-color:#000000;
    padding-top:0.5%;
    padding-bottom:0.5%;
    color:#ff7f27;
    text-align:center;
  }

  .prevbutton:hover, .pagebutton:hover, .nextbutton:hover{
    background-color:#ff7f27;
    color:#000000;
  }

  .prevbutton{width:30%; padding-right:5%; text-align:right; box-sizing:border-box}
  .nextbutton{width:30%; padding-left:5%; text-align:left; box-sizing:border-box}

  #selectedpage{
    background-color:#ff7f27;
    color:#000000;
  }

  #chaptertitle, #chaptertext{
    color:#ff7f27;
    font-size:1.2em;
    font-family:'Times New Roman', Times, serif;
    padding:5%;
  }

  #chaptertitle{font-family:centurybold; font-size:3em; font-weight:bold; text-align:center; margin-bottom:-9%;}

  #disclaimer{
    font-family:centurybold;
    text-align:center;
    padding:5%;
    color:#ff7f27;
    opacity:0.5;
  }

  #tobecontinued{
    color:#ff7f27;
    font-family:centurybold;
    text-align:center;
    font-size:1.5em;
  }

  #votebutton:hover{
      animation-name: darkenbutton;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes darkenbutton {
      0% {background-color:#82b8ff;}
    100% {background-color:#51709a;}
  }
  
  #votebutton:not(:hover){
      animation-name: lightenbutton;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes lightenbutton {
      0% {background-color:#51709a;}
    100% {background-color:#82b8ff;}
  }
  
  #featureoverlay:hover{
      animation-name: darkenfeature;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes darkenfeature {
      0% {opacity:50%;}
    100% {opacity:100%;}
  }
    
  #featureoverlay:not(:hover){
      animation-name: lightenfeature;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes lightenfeature {
      0% {opacity:100%;}
    100% {opacity:50%;}
  }
  
  .linkbuttons:hover{
      animation-name: darken;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes darken {
      0% {background-color:#ff7f27;}
    100% {background-color:#e67323;}
  }
  
  .linkbuttons:not(:hover){
      animation-name: lighten;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }
  
  @keyframes lighten {
      0% {background-color:#e67323;}
    100% {background-color:#ff7f27;}
  }
  
  @media screen and (max-width: 768px) {
      
      #mainbody{
          width:90%;
          overflow-x:hidden;
          height:auto;
      }
      
      #header{
          position:fixed;
          z-index:1000;
          width:100%;
          height:11%;
          background-color:#ff7f27;
      }
      
      #logotext{
        color:#000000;
      }
      
      #welcomebanner{
        display:none;
      }
      
      #welcometext{
        display:none;
      }
      
      .linkbuttons{
        display:none;
      }
  
      #banner{
          position:relative;
          z-index:1000;
          width:100%;
          height:30%;
      }
  
      #direct{
          z-index:2000;
          float:left;
          position:relative;
          margin-top:-0.51%;
          width:100%;
          height:10px;
          background-color:#ff7f27;
          text-align:center;
          font-size:22px;
          font-weight:bold;
          overflow-x:hidden;
      }
      
      #entlabel{
        white-space:normal;
        z-index:7;
      }
      
      #headfill{
          height:13%; 
          background-color:#000000;
      }
      
      #featured{
          z-index:-1;
          width:100%;
          height:33%;
          margin-top:25%;
          margin-bottom:5%;
      }
  
      #featheader{
          width:70%;
          height:30%;
      }
      
      .featmarginbl{
        height:30%;
      }
  
      #undbar{
          width:30%;
      }
      
      #news{
          width:100%; 
          float:left; 
          height:100%; 
          background-color:#000000;
      }
  
      #newspic{
        position:relative;
          width:100%;
          height:100%;
      }
      
      #votinginfo{
        height:51%;
        overflow:hidden;
      }
      
      #votingend{
        position:absolute !important;
        font-size:2em !important;
        margin-bottom:0% !important;
        margin-top:5% !important;
        width:80% !important;
        margin-left:10% !important;
        margin-right:10% !important;
        text-align:center !important;
        text-shadow:3px 3px 2px #000000 !important;
      }
      
      #sotmtimer{
        position:absolute !important;
        font-size:3.3em !important;
        line-height:50px !important;
        margin-bottom:0% !important;
        margin-top:18% !important;
        text-shadow:3px 3px 2px #000000 !important;
        white-space:normal;
      }
      
      .featpic{
          margin-top:0px !important;
      }
      
      .archivepic{
          width:270% !important; 
          margin-left:-120% !important;
      }
  
      #newstext{
          z-index:10;
          float:left;
          margin-left:15px;
          margin-top:5px;
          padding-top:5px;
          padding-left:12px;
          height:95%;
          width:50%;
          overflow:auto;
          background-color:#000000;
          box-sizing:border-box;
      }
  
      #newstitle{margin:0px; font-size:40px; font-weight:bold; color:#ff7f27;}
      #newsbody{font-size:20px; color:#ff7f27;}
  
      #undor{
          z-index:9;
          width:100%; 
          float:left; 
          height:12px; 
          background-color:#ff7f27;
      }
  
      #videos, #comics, #games, #stories, #music, #codingprojects{
          float:left;
          width:100%;
          height:35%;
          margin-bottom:5%;
      }
      
      div#codingprojects > div#entlabel2{
        height:40% !important;
      }
      
      #games, #comics{
        margin-bottom:5%;
      }
      
      #marginbl{
          height:3%;
      }
  
      #entpic{
          width:100%;
          height:75%;
          margin-bottom:0px;
      }
  
      #entlabel{
          position:relative;
          float:left;
          width:90%;
          height:fit-content;
          margin-top:-120px;
          padding-left:10px;
          padding-right:10px;
          padding-top:5px;
          text-align:center;
          color:#ff7f27;
          font-size:40px;
          font-weight:bold;
          border:7px solid #ff7f27;
          background-color:#000000;
      }
      
      #filler{
          width:0%;
          height:0%;
      }
      
      #fillerside{
          background-color:#000000;
          float:left;
          width:0%;
          height:400px;
      }
      
      #archives{
          z-index:-1;
          float:left;
          width:100%;
          height:30%;
      }
  
      #entlabel2{
          position:relative;
          float:left;
          width:90%;
          height:23%;
          padding-top:-2px;
          margin-top:-6px;
          text-align:center;
          color:#ff7f27;
          font-size:40px;
          font-weight:bold;
          border:7px solid #ff7f27;
          background-color:#000000;	
      }
      
      #marginbl2{
          width:100%; 
          float:left; 
          height:24%; 
          background-color:#000000;
      }
  
      #filler2{
          background-color:#000000;
          float:left;
          width:4%;
          height:400px;
      }
      
      #contentprev{
          float:left;
          margin-left:5px;
          margin-top:15px;
          width:40%;
          height:70%;
      }
      
      #contentdesc{
          z-index:10;
          float:left;
          margin-left:15px;
          margin-top:10px;
          padding-top:5px;
          padding-left:12px;
          height:140%;
          width:55%;
          overflow:hidden;
          background-color:#000000;
          box-sizing:border-box;
      }
  
      #contenttitle{margin-top:-5px; font-size:45px !important; font-weight:bold; color:#ff7f27; text-align:center; line-height:45px;}
      #contentsynop, #contentgenre{text-align:center; font-size:18px; color:#ff7f27;}
      #contentgenre{font-size:20px;}
      #contentsynop{margin-top:20px;}
      
      #contentlink{
          position:fixed;
          text-align:center;
          text-decoration:underline;
          top:340px;
          left:10px;
          font-size:2.5em;
          font-style:italic;
          width:200px;
      }
  
      #contentlink2{
          position:fixed;
          text-align:center;
          text-decoration:underline;
          text-decoration-color:#002db3;
          color:#002db3;
          top:480px;
          left:25px;
          font-size:1.2em;
          font-style:italic;
          width:170px;
      }
  
      #coleur1{text-decoration-color:#0040ff; color:#0040ff;}
      #coleur2{text-decoration-color:#002db3; color:#002db3;}
    
    #featureoverlay{
      height:auto;
    }
    
    #featurepic{
      height:17%;
      margin-top:19%;
    }
    
    #featureblock{
      margin-top:44%;
      margin-left:0%;
      width:100%;
      opacity:100% !important;
    }
    
    #featuredtitle{
      margin-left:2.5%;
      font-size:0.8em;
      line-height:55px;
    }
    
    #featureddesc{
      margin-left:2.5%;
      font-size:0.3em;
      line-height:30px;
      margin-top:3%;
    }
    
    #gradientpic{
      display:none;
    }
    
    .indivpagemarginbl{
      height:100% !important;
    }
    
    #featureoverlay:hover{
        opacity:100% !important;
    }
    
    #featureoverlay:not(:hover){
        opacity:100% !important;
    }
    
    #moretocome{
      font-size:1.75em;
      margin-bottom:15px;
    }
    
    #otherworks{
      height:auto;
      width:96.5%;
      margin-bottom:5%;
    }
    
    #otherworkspic{
      width:100%;
      height:35%;
      border-bottom:7px solid #ff7f27;
    }
    
    #otherworkscont{
      width:100%;
    }
    
    #otherworkstitle{
      margin-right:15px;
      font-size:2em !important;
    }
    
    #otherworkstext{
      margin-bottom:15px;
    }
    
    .specifictitle{
      font-size:0.65em !important;
    }
    
    #sotmlogo{
      width:100%;
      height:18%;
      margin-top:12%;
    }
    
    #sotmexplain{
      width:90%;
      height:auto;
      margin-bottom:5%;
      margin-top:0%;
      margin-left:5%;
      margin-right:5%;
      font-size:1.5em;
    }
    
    .sotmstory{
      width:100%;
      height:auto;
    }
    
    #sotmgradient{
      width:100%;
      height:100%;
    }
    
    #sotmheader{
      width:98%;
      margin-left:1%;
      margin-right:1%;
      height:30%;
    }
    
    #sotmdesc{
      margin-bottom:5%;
      color:#000000;
    }
    
    /*
    #votingscreen{
      width:200%;
      margin-left:-50%;
      overflow:hidden;
    }
    */
    
    #votebutton{
      margin-top:60%;
      width:60%;
      margin-left:20%;
      height:23%;
    }
    
    #homebutton{
      position:fixed;
      display:block;
      margin-top:0%;
      margin-left:80%;
      height:10%;  
    }
    
    #homebuttontext{
      display:none;
    }
    
    #votebutton:hover{
      background-color:#82b8ff;
    }
    
    #votebutton:not(:hover){
        background-color:#82b8ff;
    }

    #risingphoenixbanner{
      margin-top:20%;
      height:40%;
      width:100%;
      overflow-x:hidden;
      /*visibility:hidden;*/
    }

    #risingphoenixnew{
      position:absolute;
      width:20%;
      margin-top:-40%;
      margin-left:80%;
    }

    #firstact{
      margin-top:45%;
    }
    
    #risingphoenixdesc{
      position:absolute;
      width:90%;
      height:30%;
      font-size:0.95em;
      text-align:center;
      float:none;
      margin-top:2.5%;
      margin-left:5%;
      margin-right:5%;
    }

    .risingphoenixact{
      display:block;
      width:90%;
      height:fit-content;
      padding-left:2.5%;
      padding-right:2.5%;
      padding-bottom:5%;
      box-sizing:border-box;
      margin-left:5%;
      margin-right:5%;
      border-top:3px solid #ff7f27;
    }
    
    #pageselect{
      margin-top:15%;
      position:fixed;
      width:100%;
      border-bottom:3px solid #ff7f27;
      background-color:#000000;
    }

    .pagebutton{
      padding-left:5px;
      padding-right:5px;
      width:8%;
      box-sizing:border-box;
    }

    .prevbutton, .nextbutton{width:18%;}

    #chaptertitle, #chaptertext, #disclaimer{
      width:90%;
      overflow-x:hidden;
    }

    #chaptertitle{padding-top:0%; font-size:1.8em;}
    #chaptertext{margin-top:5%;}
    #disclaimer{font-size:0.75em;}
  }